<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择性别</title>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.1.1.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $("input[name='sex']").click(function () {
                var choice_sex = $("input[name='sex']:checked").val();   // 获取选中了的性别value值
                $.ajax("/sex/"+choice_sex+"/",{
                    success:function (data) {
                        var sex_path = data["sex_path"];   // 接收后台发送来的选择的性别图片的路径
                        $("img#seximg").attr("src",sex_path);   // 动态修改src属性值
                    }
                })
            })
        })
    </script>
</head>
<body>
    选择性别：男：<input type="radio" name="sex" value="man" checked="checked"/> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              女：<input type="radio" name="sex" value="woman"/> <br/>
              <img src="{{ url_for('static',filename='images/boy.jpg') }}" id="seximg" width="100px" height="100px"/>
</body>
</html>