<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有学生</title>
</head>
<body>
   <table align="center" border="1">
       <tr>
           <th>学号</th>
           <th>姓名</th>
           <th>成绩</th>
           <th>所在学校</th>
       </tr>
       {% for student in students %}
           <tr>
              <td>{{ student.id }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.score }}</td>
              <td>{{ student.sch.name }}</td>
           </tr>
       {% endfor %}

   </table>
</body>
</html>